body {

    display: flex;
    background-color: #171717;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;

}

.clock {
    display: flex;
    gap: 10px;             
}

.box {

    height: 10rem;
    width: 10rem;
    background: rgb(45, 45, 45);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-weight: 900;
    border-radius: 10px;
}

